.loader-container{
    position: fixed;
    top:0;
    left:0;
    z-index: 100000;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
    width:100vw;
  }
  
.loader-container.fade-out{
    top:-120%;
  }